<h2>
	<%= @code.title %>
</h2>

<h3>Created by: <%= User.find(@code.user_id).username if @code.user_id %></h3>

<p>
	<%= @code.description %>
</p>
<pre>
	<%= @code.content %>
</pre>

<h3>Comments:</h3>

<%if current_user %>
	<div class="well">
	
		<%= form_for Comment.new do |com| %>
		<div class="field">
			<%= com.label :content %>
			<%= com.text_area :content %>
		</div>
		<div class="actions"><%= com.submit %></div>
		<% end %>
	</div>
<% end %>
<ul id="comment_list">
	<% @code.comments.each do |sec| %>
		<li>
			<h4><em><%= sec.user.username if sec.user %></em> wrote <%= time_ago_in_words(sec.created_at) %></h4>
			<p><%= sec.content %></p>
		</li>
	<%end%>
</ul>
